body {
    margin: 0;
    padding: 0;
    background-color: #346094; /* background ncssm blue */
    color: black; /* text color white */
    font-family: Arial, sans-serif;
    font-weight: bold;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form {
    width: 80%;
    height: 70%;
    background-color: #8a8a8d; /* form background ncssm grey */
    padding: 20px;
    border-radius: 10px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="password"],
input[type="color"],
button {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
}

button {
    background-color: blue; /* button color blue */
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: navy; /* button hover color navy */
}
